@use "colors";

// downloaded fonts
// font-family: 'Jost', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

a{
	color:white;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
	font-family: "Jost", sans-serif;
	min-height: 100vh;
}

// components

.addsec {
	height: 100vh;
}

.button {
	padding: 0.5em 1em;
	background-color: colors.$orange;
	font-size: 1.8rem;
	border-radius: 0%;
	font-weight: 300;
	border: none;
	margin: 0 auto;
}
.button:focus:active {
	color: black;
}

.title {
	font-size: 3rem;
	text-align: center;
	font-weight: 500;
	padding: 0.5em 1em;
}

.text {
	padding: 0.5em 1em;
	font-size: 2rem;
	font-weight: 300;
	text-align: center;
}

.smallTitle {
	padding: 0.5em 0;
	font-size: 2.2rem;
	text-align: center;
	font-weight: 400;
}
.smallText {
	font-size: 1.8rem;
	font-weight: 300;
	text-align: center;
}

//navigation

.nav-logo-main {
	display: flex;
}
.navbar {
	background-color: colors.$grey;
}
.nav-logo {
	color: colors.$grey;
	font-family: "Jost", sans-serif;
	font-size: 2.7rem;
	border-radius: 50%;
	background-color: colors.$orange;
	padding: 0.4em 0.6em;
}
.nav-logo-link {
	font-size: 2rem;
	display: flex;
	flex-direction: column;
}

.nav-link {
	font-size: 2rem;
}

.sub-logo {
	font-weight: 200;
	text-decoration: none;
	color: colors.$white;
}

.navbar-toggler {
	border: none;
	color: colors.$white;
	font-size: 3rem;
	padding: 2rem;
}

// header

.header {
	// height: 20em;

	background-image: url("../img/header-desk-small-min.jpg");
	background-position: center;


	background-size: cover;
	position: relative;

	padding-bottom: 5em;
	position: relative;
	&__text {
		// position: absolute;
		z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		padding: 3em 2em;
		// width: 50%;
		// transform: translate(50%);
		text-align: center;
		color: colors.$white;
		z-index: 100;
		h1 {
			font-size: 3.5rem;
		}
		p {
			font-size: 2rem;
		}
	}
	&__shadow {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.245);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		
	}
}

.services {
	margin-bottom: 3em;
	background-color: colors.$white;
	.about-me__box {
		transform: translate(0, -10%);
		background-color: colors.$white;
		margin: 0 1em;
		display: flex;
		justify-content: center;
		flex-direction: column;
		box-shadow: 0px 10px 20px #e3e3e3;
		// max-width: 90vw;
		// margin: 1em;

		&-info{
			display: flex;
			flex-direction: column;
		}


		&-photo {
			max-width: 100%;
			padding: 2em 1em;
			object-fit: cover;
		}

		&-btn {
			width: 50%;
			margin: 1em auto;
		}
	}

	&__plans {
		display: flex;
		flex-direction: column;

		&-box {
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			padding: 1.5em 3em;
			border-top: 1px solid black;
			// overflow: hidden;

			

			

			// &-text{
			// 	animation: servicesAnimation 2s ease-in 1 forwards;
			// }
			// .box-2{
			// 	animation: servicesAnimation 2s ease-in 0.4s 1 forwards;
			// }
			// .box-3{
			// 	animation: servicesAnimation 2s ease-in 0.8s 1 forwards;
			// }
			// .box-4{
			// 	animation: servicesAnimation 2s ease-in 1.2s 1 forwards;
			// }
			// .box-5{
			// 	animation: servicesAnimation 2s ease-in 1.6s 1 forwards;
			// }
			// .box-6{
			// 	animation: servicesAnimation 2s ease-in 2s 1 forwards;
			// }
			&-icon {
				font-size: 3rem;
			}

			&-smallTitle {
				padding: 0.5em 0;
				font-size: 2.2rem;
				text-align: center;
				font-weight: 400;
			}
			&-smallText {
				font-size: 1.8rem;
				font-weight: 300;
				text-align: center;
			}
		}
	}
}

@keyframes servicesAnimation {
	0%{
		opacity:0;
		transform: translate(0,200%);
	}
	100%{
		opacity: 1;
		transform: translate(0,0);
	}
}

.reviews {
	display: flex;
	flex-direction: column;
	background-color: colors.$grey;
	color: colors.$white;
	padding-top: 3em;
	padding-bottom: 5em;
	justify-content: center;
	align-items: center;

	&__box {
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		padding: 2em 1em;
	}
}

.testimonials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: colors.$light-blue;
	padding-bottom: 3em;

	&__boxes{
		display: flex;
		flex-direction: column;
	}

	&__box {
		transform: translate(0, -30%);
		background-color: colors.$white;
		margin: 1.5em 3em;
		padding: 1.5em 3em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.4);
		&-icon {
			font-size: 3rem;
			color: colors.$orange;
		}
	}
	
	
}

.footer {
	text-align: center;
	background-color: colors.$grey;
	padding: 1em;
	color: colors.$white;
	margin: 0 auto;
}

// Contact Page 

.header-subpages{
	min-height: 15vh;
background-color: colors.$light-blue;

}
.subpage-title{
	display: flex;
	// align-items: center;
	justify-content: center;
	// margin: 0 auto;
	// text-align: center;
	font-size: 5rem;
	padding: 0.7em 2em;
	max-width: 50%;
	// margin: 0 2em;
	transform: translate(0,50%);
	background-color: colors.$white;
		box-shadow: 0px 10px 20px #e3e3e3;
}

.subpage-aboutme__box{
	display: flex;
	flex-direction: row
}

.contact-page-info{
	padding-top:10em;
	display: flex;
justify-content: space-around;
text-align: center;
padding-bottom: 7rem;
	// align-items: center;
	i{
		font-size: 4rem;
	}
	span{
		font-weight: 300;
		font-size: 3rem;
	}

}
.contact-details{
display: inline-block;
justify-content: space-around;
	text-align: center;
}

.contact-form{
	background-color: colors.$light-blue;
	min-height: 15vh;
	
	&__boxes{
		// transform: translate(0,-10%);
		display: flex;
		flex-direction: column;
		
	}
}
// .label{
// 	font-size: 2rem;
// 	padding: 1em 2em;
// 	margin: 1em;
// }

.form__box{
	background-color: white;
	// background-color: white;
	padding: 1em 2em;
	box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.4)
	}
.input__box{
	display: flex;
	flex-direction: column;
	margin: 0.5em 1em;
}
.form-layout{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}
.label{
	font-size: 2rem;
}
input{
	padding: 0.4em 1em;
	// background-color: transparent;
	border: none;
	border-bottom:1px solid black;
}

.textarea{
	background-color: rgba($color: #00000099, $alpha: 0.4);
	border:none;
	// border-bottom: 1px solid black;
	max-height: 10rem;
	// min-height: 2rem;
	font-size: 2rem;
	padding: 0.4em 1em;
}


.item2{
	grid-column: 1/3;
	grid-row: 1/2;
}
.item3{
	grid-column: 1/3;
	grid-row: 2/3;
}
.item4{
	grid-column: 1/3;
	grid-row: 3/4;
}

.item5{
	grid-column: 1/3;
	grid-row: 4/5;
}

.item6{
	grid-column: 1/3;
	grid-row: 5/6;
}



.item7{
	grid-column: 2/3;
	grid-row: 6/7;
}

.invalid{
	background-color: colors.$invalid
}

// loading animation

.loading {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}

.loading::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:"";
    animation: rotateSingleLoading 0.5s infinite linear;
    z-index: 10;
	
}

@keyframes rotateSingleLoading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.social-media{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	i{
		color:black;
		font-size: 4rem;
		margin: 0 0.2em;
		padding: 0.3em 0.8em;
	}
}


@import "medium";

